@import 'base/footer';
@import 'base/variables';

@mixin play ($justify1)
 {display: flex;
  justify-content: $justify1;
 }

@mixin fuentes 
 {font-family: Open Sans;
  font-weight: 400;
  font-style: normal;
 } 



 @mixin med {
  width:100%;
  height:100%;
 }
 *{margin:0; 
  padding:0;
  box-sizing: border-box;
  }
  
li{list-style: none;}
 
body{
 
  background-image:url('../multimedia/fondos/5-.jpg');
}



.cabecera{background:#E2D2C3;  
          position: sticky;          
          top: 0; left: 0; right: 0;
          z-index:1;
          border-bottom: 1px #4e3415 solid;
          .logo {@include play (end);            
            flex-wrap: wrap;      
          }
          .cabecera__lista { 
		        @include play (space-evenly);
            flex-wrap: wrap;
            a
            {   text-decoration: none;
                 color: $color-menu;                 
                 font-weight: 600;
                 letter-spacing: 1px;
                 font-size: 15px;
                 text-transform: uppercase;
                 text-align: center;
                 background-image: linear-gradient(currentColor, currentColor);
                 background-position: 0% 100%;
                 background-repeat: no-repeat;
                 background-size: 0% 2px;
                 transition: background-size .3s;

                 &:hover, &:focus {
                  background-size: 100% 2px;}


            }
          }
        }


   

    .titulosh1 
    { @include fuentes; 
	    font-size: 30px;
      color: $color_titulos; 
      text-align: center;
      top: 1em;
      text-shadow: 7px 4px 5px rgba(245, 188, 113, 0.726);
    }
    .titulosh2
    {@include play (center); 
	   @include fuentes;
     align-items: space-between;
     color:  $color_titulos;          
     padding: 1em;
    }
    .texto
    {@include play (center);   
     align-items: center;
     font-size:20px;   
     font-style:italic; 
	  
     p {  margin: 0;
      width: 90%;
      text-align: center;
      padding: 1em; }

      
    }  
    .p1{font-weight: bold;}
    #contenido{background-color:#f8d3e7;

    .imagen_parrafo{     
      @include play (center);        
      align-items: center;    
     }
	
    .grid-container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     grid-gap: 1em;
     .pos_image{
       position: relative;      
     }
	  
     .loc-titulo {
       position: absolute;
       top: 0;
       left: 0;
       height: 100%;
       width: 100%;
       background: rgba(180, 178, 178, 0.4);
         
       /* letra */
       color: white;
       font-size: 1.5em;
       font-weight: bold;
       text-decoration: none;
         
       /* centrado*/
       @include play (center);  
       align-items: center;
       opacity: 0;
       transition: opacity .5s;
     }
	  
     .loc-imagen {
        line-height: 0;    
     }
	  
     .pos_image:hover .loc-titulo {
       opacity: 1;
     }
    
  }
}

 /* Atelier */
.contenido-page
{   background-color: #e4dedeea;
    transition: all 0.3s ease;
    padding-bottom: 10px;
    
    .texto
    {@include play (center);   
     align-items: center;
     font-size:20px;   
     font-style:italic; 	
     p {  margin: 0;
      width: 90%;
      text-align: center;
      padding: 1em; }
    }  
    .titulosh3 
    { @include fuentes; 
      font-size: 10px;
      color: $color_titulos; 
      text-align: center;
      top: 1em;
    } 
    .contenido-carrusel{
      @include play (center); 
      align-items: center;
      margin-bottom: 50px;
    }
   
    .imgcentro{
      margin-bottom: 20px;
      text-align: center;
    }
 
    .imagen{width:100%;} 
    .imagen img {width:325px; height:280px;}
    .galeria{ width:100%;
      margin: 50px;
      margin-top:10px;
      margin-bottom: 10x;
      display:grid;
      grid-template-columns:repeat(3,1fr);
      grid-template-rows:250;
      grid-gap:30px;
    }  
 
    @media screen and (max-width:800px){
    .galeria{
      width:95%;
      grid-template-columns:repeat(2, 1fr);
      grid-gap:10px;
      grid-template-rows:200px;}
    }
 
     @media screen and (max-width:500px){
     .galeria{
       width:90%;
      grid-template-columns:repeat(1, 1fr);
    } 
  
  }
}

.contenido-page:hover {
        background: #f8cdb1;
    }

 
/*novias -  madrinas */
.flex-center{
     @include play (center); 
     align-items: center;

#fondo{
  width: 600px;
  height: 520px;
  background-image: url(../multimedia/novia/boda1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
   }
  }

#fondo2{
  width: 600px;
  height: 520px;
  background-image: url(../multimedia/quince/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
   }
 
.contenido-img{
  width:100%;
  max-width: 1100px;
  margin:auto;
  margin-top:10px;
  margin-bottom: 60px;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:250;
  grid-gap:20px;
}
.contenido-img .box-img figure{
  @include med;
}
.contenido-img .box-img img{
  @include med;
  object-fit:cover;
}
@media screen and (max-width:800px){
 .contenido-img{
  width:95%;
  grid-template-columns:repeat(2, 1fr);
  grid-gap:10px;
  grid-template-rows:200px;}
}

@media screen and (max-width:500px){
  .contenido-img{
   width:90%;
   grid-template-columns:repeat(1, 1fr);
  }
  .contenido-img .box-img img{
   height:200px ;
   }
 }

 /* quince  */
  
.contenido-img2{
  width:100%;
  max-width: 1100px;
  margin:auto;
  margin-top:10px;
  margin-bottom: 60px;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:250;
  grid-gap:25px;
}
.contenido-img2 .box-img2 figure{
  @include med;
}
.contenido-img2 .box-img2 img{
  width:90%;
  height:90%;
  object-fit:cover;
}
@media screen and (max-width:800px){
  .contenido-img2{
   width:95%;
   grid-template-columns:repeat(2, 1fr);
   grid-gap:10px;
   grid-template-rows:200px;}
 }
 
 @media screen and (max-width:500px){
   .contenido-img2{
    width:90%;
    grid-template-columns:repeat(1, 1fr);
   }
   .contenido-img2 .box-img2 img{
    height:200px ;
    }
  }

/*contacto */
.contenido_contacto
  { background-color:rgb(233, 235, 236); 
    color:  #352d24;   
    text-align: left;
    @include fuentes; 
  }

/* formulario */
.form-box {
    max-width: 500px;
    margin: auto;
    padding: 50px;
    background: #f5ca91;
    border: 10px solid #f2f2f2;
  }
 .btn-primary {background: #c0bebf;}

 .form-box p {
    text-align: center;
  }
  
  input, textarea {
    width: 100%;
  }
   
/*footer */
  .pie {
    background: #E2D2C3;
    padding-left: 1em;
    width: 100%;
    padding: 10px;

  .link {
    @include play (center);   
    text-decoration: none;
    color:  $color_titulos;   
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center; 
  }
   .datoscontacto {
    @include play (space-evenly);
  }
  .datoscontacto img {
    width: 30px;
    padding: 5px;
  }
  .datoscontacto p {
    padding: 5px;
  }
  .sociales {
    @include play (center); 
    align-items: center;
  }
   .sociales img {
    width: 30px;
    padding: 2px;
  }
}