@import 'base/footer';
@import 'base/variables';
*{margin:0; 
    padding:0;
  }
  
 li{list-style: none;}
 

  hr{ height: 2px;
    border-color:rgba(223, 222, 220, 0.842) ;
    background-color: rgb(234, 190, 59);
   }
  .cabecera
    {   background:#E2D2C3;  
        position: sticky;
        top: 0;      
        .logo {display:flex;
             justify-content: end;   
             flex-wrap: wrap;      
         }
         .cabecera__lista { display:flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            a
            {   text-decoration: none;
                 color: $color-menu;                 
                 font-weight: 600;
                 letter-spacing: 1px;
                 font-size: 15px;
                 text-transform: uppercase;
                 text-align: center;
            }
         }
    }

  

#contenido{
    background-color:rgb(233, 235, 236); 
    background-image:url('./multimedia/fondos/5-.jpg') ;

    .titulosh1 
    {   font-size: 30px;
        color: $color_titulos; 
        text-align: center;
        font-family: Open Sans;
        font-weight: 400;
        font-style: normal;
        top: 1em;

    }
    .titulosh2
    {   display: flex;
    justify-content:center;
    align-items: space-between;
    color:  $color_titulos;   
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
    padding: 1em;
    }
    .texto
    {  display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;   
    font-style:italic; 
    p {  margin: 0;
    width: 90%;
    text-align: center;
    padding: 1em; }
    }  
    .imagen_parrafo{     
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    .pos_image{
        position: relative;      
      }
    .loc-titulo {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(180, 178, 178, 0.4);
         
        /* letra */
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        text-decoration: none;
         
        /* centrado*/
        display: flex;
        align-items: center;
        justify-content: center;
     
        opacity: 0;
        transition: opacity .5s;
      }
    .loc-imagen {
        line-height: 0;    
      }
      .pos_image:hover .loc-titulo {
        opacity: 1;
      }
    
  }
}
 