*{margin:0; 
  padding:0;
}

li{list-style: none;}


/* header */
.cabecera
{   background:#E2D2C3;  
    position: sticky;
    top: 0;
}

.logo
{   display:flex;
    justify-content: end;   
    flex-wrap: wrap;
    
}

.cabecera__lista
{   display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

.cabecera__lista a
{   text-decoration: none;
    color: #70604c; 
    text-decoration: none;
	font-weight: 600;
    letter-spacing: 1px;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
}


/* Body*/

#contenido
{   background-color:rgb(233, 235, 236); 
    background-image:url('./multimedia/fondos/5-.jpg')
}
div.contenido-page
{   background-color: 	#e4dedeea;
    transition: all 0.3s ease;

}
div.contenido-page:hover {
        background: #e673f5;
    } 

.titulosh1
{   font-size: 30px;
    color:  #4e3415; 
    text-align: center;
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
    top: 1em;
   
}
.titulosh2
{   display: flex;
    justify-content:center;
    align-items: space-between;
    color:  #352d24;   
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
    padding: 1em;
}
.texto
{   display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;   
    font-style:italic;  
     
}

.texto p 
{   margin: 0;
    width: 90%;
    text-align: center;
    padding: 1em;
}

.imagen_parrafo{
   
   /* margin: 1em auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: 0 0 0 10px #fff,
                0 0 0 11px #ccc,
                0 20px 20px -12px #000;
    padding: 1em;*/

}
/* imagenes con grid con transiciones */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }

  .pos_image{
    position: relative;
  
  }
 
  .loc-imagen {
    line-height: 0;
 

  }.loc-titulo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(180, 178, 178, 0.4);
     
    /* letra */
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
     
    /* centrado*/
    display: flex;
    align-items: center;
    justify-content: center;
 
    opacity: 0;
    transition: opacity .5s;
  }

  .pos_image:hover .loc-titulo {
    opacity: 1;
  }


/* fin grid y transisciones index */

 hr
 { height: 2px;
   border-color:rgba(223, 222, 220, 0.842) ;
   background-color: rgb(234, 190, 59);
  }

  .contenido_contacto
  { background-color:rgb(233, 235, 236); 

    color:  #352d24;   
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
  }

/* formulario */
.form-box {
    max-width: 500px;
    margin: auto;
    padding: 50px;
    background: #f5ca91;
    border: 10px solid #f2f2f2;
  }
 .btn-primary {background: #c0bebf;}
 .form-box p {
    text-align: center;
  }
  
  input, textarea {
    width: 100%;
  }
   





/* footer */
.pie
{   background: #E2D2C3;    
    padding-left: 1em; 
    
}
.link
{   text-decoration: none;
    color: #4e3415; 
    text-decoration: none;
	font-weight: 600;
    letter-spacing: 1px;
	font-size: 13px;
	text-transform: uppercase;	
}
.datoscontacto
{   display: flex;   
    justify-content: flex-start;     
    

}
.datoscontacto img
{   width: 30px;  
    padding:  5px;   
}
.datoscontacto p
{  
    padding:  5px;    
}
.sociales{
    display: flex;   
    justify-content: center; 
    align-items: center;
}
.sociales img
{   width: 30px;  
    padding: 2px;   
}

.carousel-item{
    max-height: 450px;
   
  
}